<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Control de usuarios</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/darAlta">Dar de alta un usuario</a></li>
            <li><a href="/">Ver usuarios</a></li>
        </ul>
    </div>
</nav>

