<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

{{include('initiall/init.html.twig') }}

<div class="container">
    <h3>Lista de usuarios creados</h3>


    {% if 'users' %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Fecha de alta</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user.getNombre()}}</td>
                    <td>{{user.Apellidos()}}</td>
                    <td>{{user.Telefono()}}</td>
                    <td>{{user.Email()}}</td>
                    <td>{{user.FechaAlta().format('d-m-Y')}}</td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
    {% else %}
        <p><b>No hay usuarios en la plataforma</b></p>
    {% endif %}




</div>